---
{
  partitions: {
    all: {
      enabled: true,
    },
  },
  nodesets: {
    slinky: {},
  },
  loginsets: {
    slinky: {
      enabled: true,
      rootSshAuthorizedKeys: "${public_key}",
    },
  },
}
